* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-family: $font-chillax;
  color: $color-light-gray;
  font-size: clamp(14px, 1vw, 18px);
}

body {
  background-color: $color-dark-bgc;
}

p {
  font-family: $font-satoshi;
}