@font-face {
  font-family: chillax;
  src: url(../assets/fonts/Chillax-Regular.woff) format('woff');
}

@font-face {
  font-family: satoshi;
  src: url(../assets/fonts/Satoshi-Light.woff) format('woff');
}

@font-face {
  font-family: roboto;
  src: url(../assets/fonts/roboto.woff2) format('woff2');
}