main {
  width: 100%;
  @include flex-column(0rem);
  align-items: center;

  nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.4rem;
    padding-right: 1rem;
    padding-top: 1rem;

    .lefty h1 {
      font-size: 1.4rem;
      font-weight: 400;
    }

    .righty {
      display: none;
    }

    .mobile-righty {
      @include flex-column(0.5rem);
      flex-direction: row;
      @include all-nav-icon();

      .ri-menu-line {
        font-size: 1.5rem;
      }
    }

    .nav-icon:nth-child(2) {
      display: none;
    }
  }

  section.view1 {
    width: 100%;
    padding: 1rem;
    @include flex-column(1rem);
    @include all-section-top();
    @include all-sections-bottom();

    .bottom {

      button {
        width: fit-content;
        border: none;
        outline: none;
        padding: 0.7rem 1rem;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: 0.5s;
      }

      button:hover {
        background-color: yellow;
      }
    }

  }

  section.view2 {
    width: 100%;
    @include flex-column(1rem);
    padding: 1rem;

    .top,
    .bottom {
      width: 100%;
      display: flex;
      justify-content: space-around;

      .element {
        text-align: center;
        @include flex-column(0.2rem);

        small {
          opacity: 0.6;
        }

        h2 {
          font-size: 2.5rem;
          font-weight: 400;
        }
      }
    }
  }

  section.view3 {
    width: 100%;
    padding: 1rem;
    @include flex-column(1rem);
    @include all-section-top();
    @include all-sections-bottom();
  }

  section.view4 {
    width: 100%;
    padding: 0rem 1rem;
    @include flex-column(1rem);
    @include all-section-top();
    @include all-sections-bottom();

  }

  section.view5-top {
    width: 100%;
    display: flex;
    align-self: center;
    padding: 1.5rem 2rem;
    font-size: 1rem;
    text-transform: uppercase;

  }

  section.view5 {
    width: 100%;
    @include flex-column(1rem);
    padding: 1rem;
    @include all-card();

    #card1 {background-image: url(../assets/images/view5-card1.webp);}
    #card2 {background-image: url(../assets/images/view5-card2.webp);}
    #card3 {background-image: url(../assets/images/view5-card3.webp);}

  }

  section.view6 {
    width: 100%;
    padding: 0rem 1rem;
    @include flex-column(1rem);
    @include all-section-top();
    @include all-sections-bottom();

    .bottom {
      gap: 0rem;
      padding: 1.5rem 2rem;

      .para-titel {
        padding-bottom: 1rem;
      }
      
      .text {

        h1 {
          font-size: 2.2rem;
          padding-bottom: 2.5rem;
        }
      }

      button {
        width: fit-content;
        border: none;
        outline: none;
        padding: 0.7rem 1rem;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: 0.5s;
      }

      button:hover {
        background-color: yellow;
      }
    }
  }

  section.view7 {
    width: 100%;
    padding: 1rem 1rem;
    @include all-sections-bottom();

    .bottom {
      gap: 0rem;
      color: black;
      background-color: #CEBD63;
      padding: 2rem 2rem;

      .para-titel {
        padding-bottom: 1rem;
      }

      .text h1 {
        font-size: 3.25rem;
        line-height: 1;
      }

      button {
        width: fit-content;
        font-size: 1rem;
        text-transform: uppercase;
        color: white;
        background-color: black;
        border: none;
        outline: none;
        padding: 1rem 1rem;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: 0.5s all ease;
      }

      button:hover {
        color: black;
        background-color: white;
      }
    }

  }

  section.view8 {
    width: 100%;
    @include flex-column(1rem);
    padding: 1rem 1rem;

    .left,
    .about,
    .footer {
      background-color: #1e1e1e;
      border-radius: 10px;
      padding: 2rem 2rem;
    }

    .left {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      p {
        font-size: 1.5rem;
        padding-bottom: 3rem;
      }


      div {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;

        .icon {
          width: fit-content;
          border-radius: 50%;
          background-color: rgba(72, 72, 72, 0.445);
          border: 1px solid none;
          padding: 1rem;
        }
      }
    }

    .about {
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      gap: 3rem;

      h1 {
        font-size: 1.5rem;
        font-weight: 300;
        padding-bottom: 1.7rem;
      }

      p {
        font-weight: 300;
        opacity: 0.6;
        padding-bottom: 1.7rem;
      }

      button {
        width: fit-content;
        font-size: 1rem;
        text-transform: uppercase;
        color: black;
        background-color: yellow;
        border: none;
        outline: none;
        padding: 1rem 1rem;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: 0.5s all ease;
      }

      button:hover {
        color: white;
        background-color: black;
      }
    }

    .footer {
      text-align: center;

      p {
        font-size: 1rem;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.605);
        padding-bottom: 2rem;

        span {
          color: white;
          font-weight: 900;
        }
      }

      button {
        width: fit-content;
        font-size: 1rem;
        text-transform: uppercase;
        color: black;
        background-color: yellow;
        border: none;
        outline: none;
        padding: 1rem 1rem;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: 0.5s all ease;
      }

      button:hover {
        color: white;
        background-color: black;
      }

    }

  }
}