@media (min-width: $bp-desktop) {
  main {

    nav {
      flex-direction: row;

      .righty {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        @include all-nav-icon();

        .nav-icon:nth-last-child(1) {
          color: black;
          background-color: yellow;
          transition: 0.5s all ease;
        }

        .nav-icon:nth-last-child(1):hover {
          background-color: rgba(255, 255, 0, 0.498);
        }
      }

      .mobile-righty {
        display: none;
      }
    }

    section.view1 {
      flex-direction: row;

      .top,
      .bottom {
        width: 50%;
      }

      .bottom {
        justify-content: space-between;
        padding: 3rem;

        .text {
          gap: 1.5rem;

          h1 {
            font-size: 4rem;
          }

          p {
            width: 80%;
            font-size: 1.2rem;
          }
        }
      }
    }

    section.view2 {
      flex-direction: row;
    }

    section.view3 {
      flex-direction: row-reverse;

      .top,
      .bottom {
        width: 50%;
      }

      .bottom {
        justify-content: space-between;
        padding: 3rem;

        .text {
          gap: 1.5rem;

          h1 {
            font-size: 3.5rem;
          }

          p {
            width: 40%;
            font-size: 1rem;
            line-height: 2rem;
          }

          .pera {
            display: flex;
            gap: 3rem;
          }

          .p1 {
            padding-top: 1rem;
          }
        }
      }
    }

    section.view4 {
      flex-direction: row;

      .top,
      .bottom {
        width: 50%;
      }

      .bottom {
        justify-content: space-between;
        padding: 3rem;

        .text {
          gap: 1.5rem;

          h1 {
            font-size: 3.5rem;
          }

          p {
            width: 40%;
            font-size: 1rem;
            line-height: 2rem;
          }

          .pera {
            display: flex;
            gap: 3rem;
          }
        }
      }
    }

    section.view5-top {
      font-size: 1.5rem;
      padding-left: 3rem;
    }

    section.view5 {
      flex-direction: row;
    }

    section.view6 {
      flex-direction: row;

      .top,
      .bottom {
        width: 50%;
      }

      .bottom {
        button {
          margin-top: 12rem;
        }
      }
    }

    section.view7 {
      width: 100%;

      .para-titel {
        padding: 1rem 3rem;
      }

      .bottom .text {
        padding: 1rem 3rem;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;

        h1 {
          width: 75%;
          font-size: 5rem;
        }

        button {
          width: fit-content;
          padding: 1rem;
        }
      }
    }

    section.view8 {
      display: grid;
      grid-template-columns: 19rem 1fr;
      grid-template-rows: 1fr auto;
      grid-template-areas:
        "box-1 box-2"
        "box-1 box-3";

      .about {
        flex-direction: row;
        gap: 16rem;
      }

      .left { justify-content: space-between; }

      .footer {
        padding-top: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        p { letter-spacing: 0.2rem; }

        button { margin-right: 3rem; }

      }
    }
  }
}