$font-chillax: 'Chillax', sans-serif;
$font-satoshi: 'Satoshi', sans-serif;
$font-roboto: 'Roboto', sans-serif;


$color-white: #fff;
$color-black: #000;
$color-dark-bgc: #121212;
$color-gray: #1e1e1e;
$color-light-gray: rgb(218, 213, 213);


// $max-width-desktop: 900px;
$bp-large-desktop: 1200px;
$bp-desktop: 900px;
$bp-tablet: 600px;
$bp-mobile: 400px;