@font-face {
  font-family: chillax;
  src: url(./Chillax-Regular.woff);
}
@font-face {
  font-family: satoshi;
  src: url(./Satoshi-Light.woff);
}
@font-face {
  font-family: roboto;
  src: url(./roboto.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-family: chillax;
  color: rgb(218, 213, 213);
  font-size: clamp(14px, 1vw, 18px);
}

body {
  background-color: #121212;
}

nav {
  max-width: 2000px;
}

section {
  max-width: 2000px;
}

p {
  font-family: satoshi;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: center;
}
main nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.4rem;
  padding-right: 1rem;
  padding-top: 1rem;
}
main nav .lefty h1 {
  font-size: 1.4rem;
  font-weight: 400;
}
main nav .righty {
  display: none;
}
main nav .mobile-righty {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-direction: row;
}
main nav .mobile-righty .nav-icon {
  color: #fff;
  background-color: #1e1e1e;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 1rem 1.6rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s;
}
main nav .mobile-righty .nav-icon button {
  background-color: yellow;
  border: none;
  font-size: 1rem;
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
  margin-left: 0.2rem;
}
main nav .mobile-righty .nav-icon:hover {
  color: black;
  background-color: white;
}
main nav .mobile-righty .ri-menu-line {
  font-size: 1.5rem;
}
main nav .nav-icon:nth-child(2) {
  display: none;
}
main section.view1 {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view1 .top {
  width: 100%;
}
main section.view1 .top img {
  width: 100%;
  border-radius: 0.7rem;
}
main section.view1 .bottom {
  background-color: #1e1e1e;
  border-radius: 10px;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
main section.view1 .bottom .para-titel {
  font-family: roboto;
  font-weight: 900;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 160%;
  padding-bottom: 1rem;
}
main section.view1 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
main section.view1 .bottom .text h1 {
  font-weight: 500;
  font-size: 2.6rem;
  text-transform: uppercase;
}
main section.view1 .bottom .text p {
  font-weight: 100;
  font-size: 1.5rem;
  opacity: 0.6;
  line-height: 1.5;
}
main section.view1 .bottom button {
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  outline: none;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.5s;
}
main section.view1 .bottom button:hover {
  background-color: yellow;
}
main section.view2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
main section.view2 .top,
main section.view2 .bottom {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
main section.view2 .top .element,
main section.view2 .bottom .element {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
main section.view2 .top .element small,
main section.view2 .bottom .element small {
  opacity: 0.6;
}
main section.view2 .top .element h2,
main section.view2 .bottom .element h2 {
  font-size: 2.5rem;
  font-weight: 400;
}
main section.view3 {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view3 .top {
  width: 100%;
}
main section.view3 .top img {
  width: 100%;
  border-radius: 0.7rem;
}
main section.view3 .bottom {
  background-color: #1e1e1e;
  border-radius: 10px;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
main section.view3 .bottom .para-titel {
  font-family: roboto;
  font-weight: 900;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 160%;
  padding-bottom: 1rem;
}
main section.view3 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
main section.view3 .bottom .text h1 {
  font-weight: 500;
  font-size: 2.6rem;
  text-transform: uppercase;
}
main section.view3 .bottom .text p {
  font-weight: 100;
  font-size: 1.5rem;
  opacity: 0.6;
  line-height: 1.5;
}
main section.view4 {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view4 .top {
  width: 100%;
}
main section.view4 .top img {
  width: 100%;
  border-radius: 0.7rem;
}
main section.view4 .bottom {
  background-color: #1e1e1e;
  border-radius: 10px;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
main section.view4 .bottom .para-titel {
  font-family: roboto;
  font-weight: 900;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 160%;
  padding-bottom: 1rem;
}
main section.view4 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
main section.view4 .bottom .text h1 {
  font-weight: 500;
  font-size: 2.6rem;
  text-transform: uppercase;
}
main section.view4 .bottom .text p {
  font-weight: 100;
  font-size: 1.5rem;
  opacity: 0.6;
  line-height: 1.5;
}
main section.view5-top {
  width: 100%;
  display: flex;
  align-self: center;
  padding: 1.5rem 2rem;
  font-size: 1rem;
  text-transform: uppercase;
}
main section.view5 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}
main section.view5 .card {
  width: 100%;
  aspect-ratio: 1/1;
  background-size: cover;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  justify-content: space-between;
  padding: 1rem;
}
main section.view5 .card .icon,
main section.view5 .card .bottom {
  background-color: rgba(72, 72, 72, 0.445);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 1px solid white;
  border-radius: 0.7rem;
  padding: 0.5rem;
}
main section.view5 .card .top {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
}
main section.view5 .card .icon {
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50%;
}
main section.view5 .card .bottom {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
main section.view5 .card .bottom p {
  text-transform: uppercase;
}
main section.view5 #card1 {
  background-image: url(./view5\ \(card1\).webp);
}
main section.view5 #card2 {
  background-image: url(./view5\ \(card2\).webp);
}
main section.view5 #card3 {
  background-image: url(./view5\ \(card3\).webp);
}

@media (min-width: 900px) {
  main nav {
    flex-direction: row;
  }
  main nav .righty {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }
  main nav .righty .nav-icon {
    color: #fff;
    background-color: #1e1e1e;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 1rem 1.6rem;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s;
  }
  main nav .righty .nav-icon button {
    background-color: yellow;
    border: none;
    font-size: 1rem;
    border-radius: 50%;
    padding: 0.2rem 0.5rem;
    margin-left: 0.2rem;
  }
  main nav .righty .nav-icon:hover {
    color: black;
    background-color: white;
  }
  main nav .righty .nav-icon:nth-last-child(1) {
    color: black;
    background-color: yellow;
  }
  main nav .righty .nav-icon:nth-last-child(1):hover {
    color: yellow;
    background-color: black;
  }
  main nav .mobile-righty {
    display: none;
  }
  main section.view1 {
    flex-direction: row;
  }
  main section.view1 .top,
  main section.view1 .bottom {
    width: 50%;
  }
  main section.view1 .bottom {
    justify-content: space-between;
    padding: 3rem;
  }
  main section.view1 .bottom .text {
    gap: 1.5rem;
  }
  main section.view1 .bottom .text h1 {
    font-size: 4rem;
  }
  main section.view1 .bottom .text p {
    width: 80%;
    font-size: 1.2rem;
  }
  main section.view2 {
    flex-direction: row;
  }
  main section.view3 {
    flex-direction: row-reverse;
  }
  main section.view3 .top,
  main section.view3 .bottom {
    width: 50%;
  }
  main section.view3 .bottom {
    justify-content: space-between;
    padding: 3rem;
  }
  main section.view3 .bottom .text {
    gap: 1.5rem;
  }
  main section.view3 .bottom .text h1 {
    font-size: 3.5rem;
  }
  main section.view3 .bottom .text p {
    width: 40%;
    font-size: 1rem;
    line-height: 2rem;
  }
  main section.view3 .bottom .text .pera {
    display: flex;
    gap: 3rem;
  }
  main section.view3 .bottom .text .p1 {
    padding-top: 1rem;
  }
  main section.view4 {
    flex-direction: row;
  }
  main section.view4 .top,
  main section.view4 .bottom {
    width: 50%;
  }
  main section.view4 .bottom {
    justify-content: space-between;
    padding: 3rem;
  }
  main section.view4 .bottom .text {
    gap: 1.5rem;
  }
  main section.view4 .bottom .text h1 {
    font-size: 3.5rem;
  }
  main section.view4 .bottom .text p {
    width: 40%;
    font-size: 1rem;
    line-height: 2rem;
  }
  main section.view4 .bottom .text .pera {
    display: flex;
    gap: 3rem;
  }
  main section.view5-top {
    font-size: 1.5rem;
    padding-left: 3rem;
  }
  main section.view5 {
    flex-direction: row;
  }
}/*# sourceMappingURL=style.css.map */