* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(218, 213, 213);
  font-size: clamp(14px, 1vw, 18px);
}

body {
  background-color: #1d1d1d;
}

@mixin flex-column($gap: 0rem) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

section{
  max-width: 2000px;
}

main {
  width: 100%;
  @include flex-column(0rem);
  align-items: center;

  section {
    width: 100%;
    padding: 1rem;
    @include flex-column(1rem);

    .top {
      width: 100%;

      img {
        width: 100%;
        border-radius: 0.7rem;
      }
    }

    .bottom {
      background-color: #282727;
      border-radius: 10px;
      padding: 1rem;
      @include flex-column(3rem);

      .text {
        @include flex-column(0.7rem);

        h1 {
          font-weight: 400;
          font-size: 2.3rem;
          text-transform: uppercase;
        }

        p {
          font-weight: 100;
          font-size: 1.5rem;
          opacity: 0.8;
          line-height: 1.5;
        }

        button {
          width: fit-content;
          border: none;
          outline: none;
          padding: 0.7rem 1rem;
          border-radius: 0.5rem;
        }
      }
    }
  }
}

@media (min-width:900px) {
  main {

    section {
      flex-direction: row;
      .top,
      .bottom {
        width: 50%;
      }

      .bottom{
        justify-content: space-between;
        padding: 3rem;

        .text{
          gap: 1.5rem;

          h1{
            font-size: 4rem;
          }
          
          p{
            width: 80%;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}